# Configurações da aplicação
BASE_URL=http://automationpratice.com.br

# Credenciais de teste
TEST_USER_EMAIL=usuario@exemplo.com
TEST_USER_PASSWORD=senhaValida123

# Configurações do Cypress (opcional)
CYPRESS_VIEWPORT_WIDTH=1400
CYPRESS_VIEWPORT_HEIGHT=750
